.main-footer {
    background-color: $primary !important;
    padding-top: 30px;

    p,
    a,
    h4 {
        color: $light;
    }

    a {
        text-decoration: none;
    }

    .row {
        display: grid;
        grid-template-columns: 1fr;
        gap: 40px;
        .col {
            .icons {
                display: grid;
                grid-template-columns: 1fr 1fr 3fr;
                align-items: center;
                gap: 10px;
                min-width: 100%;
                margin-bottom: 20px;
                .some {
                    justify-self: flex-end;
                    align-self: start;
                    .social-icons {
                        display: flex;
                        gap: 10px;
                    }
                    .icon {
                        color: $link;
                        svg {
                            width: 2em;
                            height: 2em;
                        }
                        &:hover {
                            color: rgba($link, 0.5);
                        }
                    }
                }
            }
            .footer-text {
                p {
                    margin-top: 40px;
                }
            }
        }
        .list-unstyled {
            &.footer-navigation {
                display: flex;
                gap: 5px;
                flex-wrap: wrap;
                flex-direction: column;
                justify-content: flex-start;
                margin-bottom: 50px;
                a:hover {
                    color: rgba($light, 0.5);
                }
            }
            &.footer-secondary-links {
                text-align: left;
                p {
                    margin-bottom: 0;
                }
                a {
                    color: $link;
                    &:hover {
                        color: rgba($link, 0.5);
                    }
                }
            }
        }
    }
}

@media (min-width: 768px) {
    .main-footer {
        .row {
            .col {
                .icons {
                    justify-self: center;
                    .some {
                        justify-self: center;
                    }
                }
                .footer-navigation {
                    justify-content: flex-start;
                }
            }
        }
    }
}

@media (min-width: 992px) {
    .main-footer {
        padding-top: 20px;
        .row {
            grid-template-columns: 40% 55%;
            gap: 40px;
            --bs-gutter-x: 0;
            flex-shrink: 1!important;
            .col{

            }
            .icons {
                grid-template-columns: 1fr 1fr 3fr;
                align-items: center;
                gap: 10px;
                min-width: 100%;
                margin-bottom: 20px;
                .icon {
                    svg {
                        width: 2em;
                        height: 2em;
                    }
                }
            }

            .footer-navigation {
                justify-content: flex-end !important;
                margin-bottom: 50px !important;
                flex-direction: row !important;
                flex-wrap: wrap!important;
            }
            .footer-secondary-links {
                text-align: end !important;


            }
        }
    }
}
