.slider {
    .card-grid.container {
        padding-left: 0;
        padding-right: 0;
        .slide {
            .card-info {
                background-color: $light;
                min-width: 100vw;
                text-align: center;
                color: $primary;
                padding-bottom: 40px;
                span{
                    &::after {
                        display:block;
                        clear:both;
                        content : "";
                        position: relative;
                        left    : 0;
                        bottom  : 0;
                        max-width:100px;
                        height  : 2px;
                        width   : 50%;  /* or 100px */
                        border-bottom:2px solid $primary;
                        margin:0 auto;
                        padding:4px 0px;
                    }
                }
                
            }
        }
    }
}

.__inner {
    display: none;

    .card-grid {
        grid-template-columns: 100%;
        &.container {
            padding: 0;
            margin: 0;
        }
        .video-card {
            background-color: $page-background;
        }
    }
}


@media (min-width: 769px) {

    .slider{
        display: none;
    }

    .__inner {
        &.bg {
            display: block;
            background: linear-gradient($page-background 500px, #fff 100px);
        }

        .card-grid {
            width: 100%;
            max-width: 1200px;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 30px;

            .video-card {
                position: relative;
            }

            .card-info {
                text-align: center;
                color: $primary;
                padding-bottom: 40px;
                span{
                    &::after {
                        display:block;
                        clear:both;
                        content : "";
                        position: relative;
                        left    : 0;
                        bottom  : 0;
                        max-width:100px;
                        height  : 2px;
                        width   : 50%;
                        border-bottom:2px solid $primary;
                        margin:0 auto;
                        padding:4px 0px;
                    }
                }
            }
        }
    }
}
