.spinner-wrapper {
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    .loading {
        display: flex;
        margin-left: auto;
        margin-right: auto;
        padding-left: 100px;
        padding-top: 100px;
        border: 1em solid $primary;
        border-right-color: transparent;
    }
    .three-points {
        background-color: $primary;
        &:first-child {
            margin-left: auto;
        }
        &:last-child {
            margin-right: auto;
        }
    }
}

.slider {
    background-color: $page-background;
    .left-arrow,
    .right-arrow {
        display: flex;
        position: absolute;
        height: 500px;
        align-items: center;
        z-index: 1;
        .left-icon,
        .right-icon {
            height: 100px;
            width: 100px;
            color: $light;
            svg {
                z-index: 1 !important;
            }
        }
    }

    .right-arrow {
        right: 0;
    }
    .card-grid.container {
        padding-left: 0;
        padding-right: 0;
        .slide {
            .video-card {
                position: relative;
                max-width: 500px;
                margin-right: auto;
                margin-left: auto;
                .button {
                    margin-left: 0;
                }
                .video-box {
                    border-bottom: 2px solid $page-background;
                    max-height: 498px;
                    overflow: hidden;
                    video {
                        margin-bottom: -8px;
                        z-index: 1 !important;
                    }
                }
            }

            .openModal {
                top: -50px;
                right: 1%;
            }

            .card-info {
                background-color: $light;
                min-width: 100vw;
                text-align: center;
                color: $primary;
                padding-top: 20px;
                padding-bottom: 40px;
                span {
                    &::after {
                        display: block;
                        clear: both;
                        content: '';
                        position: relative;
                        left: 0;
                        bottom: 0;
                        max-width: 100px;
                        height: 2px;
                        width: 50%;
                        border-bottom: 2px solid $primary;
                        margin: 0 auto;
                        padding: 4px 0px;
                    }
                }
            }
        }
    }
}

.video-card {
    .button {
        display: flex;
        top: 10px;
        left: 60px;
        position: absolute;
        min-width: 40px;
        min-height: 40px;
        z-index: 4;
        .pause {
            mask: url('../../public/pause.svg');
            mask-repeat: no-repeat;
            mask-size: 15px;
        }
        .play {
            mask: url('../../public/play.svg');
            mask-repeat: no-repeat;
            mask-size: 20px;
        }
        .muted {
            mask: url('../../public/unmute.svg');
            mask-repeat: no-repeat;
        }
        .unmuted {
            mask: url('../../public/mute.svg');
            mask-repeat: no-repeat;
        }
        &.hideBtn {
            .muted,
            .unmuted,
            .play,
            .pause {
                visibility: hidden;
            }
        }
        &.showBtn {
            .muted,
            .unmuted,
            .play,
            .pause {
                border: none;
                background-color: $primary;
                height: 40px;
                width: 40px;
            }
        }
    }
}

.__inner {
    display: none;

    .card-grid {
        grid-template-columns: 100%;
        &.container {
            padding: 0;
            margin: 0;
            .openModal {
                top: -60px;
                right: 10%;
            }
            .video-card {
                .video-box {
                    height: 477px;
                    overflow: hidden;
                }
            }
        }
    }
}

.info.container {
    margin-bottom: 50px;
    a {
        color: $primary;
        text-underline-offset: 3px;
    }
}

@media (min-width: 598px) {
    .slider {
        .card-grid.container {
            max-width: 100%;
        }
    }
}

@media (min-width: 768px) {
    .slider {
        display: none;
    }

    .__inner {
        &.bg {
            display: block;
            background: linear-gradient($page-background 477px, #fff 100px);
        }

        .card-grid {
            width: 100%;
            max-width: 1200px;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 30px;
            margin-left: auto !important;
            margin-right: auto !important;
            .video-card {
                position: relative;
                grid-row: 1;
                .button {
                    top: 5px;
                }
            }
            .openModal {
                top: 10px;
            }
            .card-info {
                text-align: center;
                color: $primary;
                padding-bottom: 40px;
                span {
                    &::after {
                        display: block;
                        clear: both;
                        content: '';
                        position: relative;
                        left: 0;
                        bottom: 0;
                        max-width: 100px;
                        height: 2px;
                        width: 50%;
                        border-bottom: 2px solid $primary;
                        margin: 0 auto;
                        padding: 4px 0px;
                    }
                }
            }
        }
    }

    .info.container {
        h2 {
            text-align: center;
            margin-bottom: 40px;
            margin-top: 20px;
        }
        p {
            margin: 1rem auto;
            max-width: 600px;
            text-align: center;
        }
        .p1 {
            margin-bottom: 30px;
        }
    }
}
