.navbar {
    // background-color: $primary !important;
    background: url("data:image/svg+xml,%3Csvg%0A%20%20%20width%3D%221440px%22%0A%20%20%20height%3D%22231px%22%0A%20%20%20viewBox%3D%220%200%201440%20231%22%0A%20%20%20version%3D%221.1%22%0A%20%20%20id%3D%22svg14%22%0A%20%20%20sodipodi%3Adocname%3D%22menu-curve.svg%22%0A%20%20%20inkscape%3Aversion%3D%221.1.2%20(b8e25be8%2C%202022-02-05)%22%0A%20%20%20xmlns%3Ainkscape%3D%22http%3A%2F%2Fwww.inkscape.org%2Fnamespaces%2Finkscape%22%0A%20%20%20xmlns%3Asodipodi%3D%22http%3A%2F%2Fsodipodi.sourceforge.net%2FDTD%2Fsodipodi-0.dtd%22%0A%20%20%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%0A%20%20%20xmlns%3Asvg%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%3Cdefs%0A%20%20%20%20%20id%3D%22defs18%22%20%2F%3E%0A%20%20%3Csodipodi%3Anamedview%0A%20%20%20%20%20id%3D%22namedview16%22%0A%20%20%20%20%20pagecolor%3D%22%23ffffff%22%0A%20%20%20%20%20bordercolor%3D%22%23666666%22%0A%20%20%20%20%20borderopacity%3D%221.0%22%0A%20%20%20%20%20inkscape%3Apageshadow%3D%222%22%0A%20%20%20%20%20inkscape%3Apageopacity%3D%220.0%22%0A%20%20%20%20%20inkscape%3Apagecheckerboard%3D%220%22%0A%20%20%20%20%20showgrid%3D%22false%22%0A%20%20%20%20%20inkscape%3Azoom%3D%221.5875%22%0A%20%20%20%20%20inkscape%3Acx%3D%22296.06299%22%0A%20%20%20%20%20inkscape%3Acy%3D%22124.40945%22%0A%20%20%20%20%20inkscape%3Awindow-width%3D%221920%22%0A%20%20%20%20%20inkscape%3Awindow-height%3D%221027%22%0A%20%20%20%20%20inkscape%3Awindow-x%3D%220%22%0A%20%20%20%20%20inkscape%3Awindow-y%3D%2225%22%0A%20%20%20%20%20inkscape%3Awindow-maximized%3D%221%22%0A%20%20%20%20%20inkscape%3Acurrent-layer%3D%22menu%22%20%2F%3E%0A%20%20%3Ctitle%0A%20%20%20%20%20id%3D%22title9%22%3EMenuBg%3C%2Ftitle%3E%0A%20%20%3Cg%0A%20%20%20%20%20id%3D%22Symbols%22%0A%20%20%20%20%20stroke%3D%22none%22%0A%20%20%20%20%20stroke-width%3D%221%22%0A%20%20%20%20%20fill%3D%22none%22%0A%20%20%20%20%20fill-rule%3D%22evenodd%22%3E%0A%20%20%20%20%3Cg%0A%20%20%20%20%20%20%20id%3D%22menu%22%0A%20%20%20%20%20%20%20transform%3D%22translate(0.000000%2C%2064.000000)%22%0A%20%20%20%20%20%20%20fill%3D%22%234F00C5%22%0A%20%20%20%20%20%20%20stroke%3D%22%23979797%22%3E%0A%20%20%20%20%20%20%3Cpath%0A%20%20%20%20%20%20%20%20%20id%3D%22Rectangle%22%0A%20%20%20%20%20%20%20%20%20d%3D%22M%200.5%2C0.5%20V%20201.07812%20C%20137.48098%2C220.69299%20311.12957%2C230.5%20521.44531%2C230.5%20c%20210.14588%2C0%20518.05479%2C-12.93953%20918.68929%2C-32.52054%200%2C0%200.9363%2C-155.904657%200.6213%2C-197.16449937%20z%22%0A%20%20%20%20%20%20%20%20%20transform%3D%22translate(0%2C-64)%22%0A%20%20%20%20%20%20%20%20%20sodipodi%3Anodetypes%3D%22ccsccc%22%0A%20%20%20%20%20%20%20%20%20style%3D%22stroke%3Anone%22%20%2F%3E%0A%20%20%20%20%3C%2Fg%3E%0A%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E");
    min-height: 231px;
    background-size: cover;
}

<<<<<<< Updated upstream
=======
    .navbar {
        background: url("data:image/svg+xml,%3Csvg%0A%20%20%20width%3D%221440px%22%0A%20%20%20height%3D%22231px%22%0A%20%20%20viewBox%3D%220%200%201440%20231%22%0A%20%20%20version%3D%221.1%22%0A%20%20%20id%3D%22svg14%22%0A%20%20%20sodipodi%3Adocname%3D%22menu-curve.svg%22%0A%20%20%20inkscape%3Aversion%3D%221.1.2%20(b8e25be8%2C%202022-02-05)%22%0A%20%20%20xmlns%3Ainkscape%3D%22http%3A%2F%2Fwww.inkscape.org%2Fnamespaces%2Finkscape%22%0A%20%20%20xmlns%3Asodipodi%3D%22http%3A%2F%2Fsodipodi.sourceforge.net%2FDTD%2Fsodipodi-0.dtd%22%0A%20%20%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%0A%20%20%20xmlns%3Asvg%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%3Cdefs%0A%20%20%20%20%20id%3D%22defs18%22%20%2F%3E%0A%20%20%3Csodipodi%3Anamedview%0A%20%20%20%20%20id%3D%22namedview16%22%0A%20%20%20%20%20pagecolor%3D%22%23ffffff%22%0A%20%20%20%20%20bordercolor%3D%22%23666666%22%0A%20%20%20%20%20borderopacity%3D%221.0%22%0A%20%20%20%20%20inkscape%3Apageshadow%3D%222%22%0A%20%20%20%20%20inkscape%3Apageopacity%3D%220.0%22%0A%20%20%20%20%20inkscape%3Apagecheckerboard%3D%220%22%0A%20%20%20%20%20showgrid%3D%22false%22%0A%20%20%20%20%20inkscape%3Azoom%3D%221.5875%22%0A%20%20%20%20%20inkscape%3Acx%3D%22296.06299%22%0A%20%20%20%20%20inkscape%3Acy%3D%22124.40945%22%0A%20%20%20%20%20inkscape%3Awindow-width%3D%221920%22%0A%20%20%20%20%20inkscape%3Awindow-height%3D%221027%22%0A%20%20%20%20%20inkscape%3Awindow-x%3D%220%22%0A%20%20%20%20%20inkscape%3Awindow-y%3D%2225%22%0A%20%20%20%20%20inkscape%3Awindow-maximized%3D%221%22%0A%20%20%20%20%20inkscape%3Acurrent-layer%3D%22menu%22%20%2F%3E%0A%20%20%3Ctitle%0A%20%20%20%20%20id%3D%22title9%22%3EMenuBg%3C%2Ftitle%3E%0A%20%20%3Cg%0A%20%20%20%20%20id%3D%22Symbols%22%0A%20%20%20%20%20stroke%3D%22none%22%0A%20%20%20%20%20stroke-width%3D%221%22%0A%20%20%20%20%20fill%3D%22none%22%0A%20%20%20%20%20fill-rule%3D%22evenodd%22%3E%0A%20%20%20%20%3Cg%0A%20%20%20%20%20%20%20id%3D%22menu%22%0A%20%20%20%20%20%20%20transform%3D%22translate(0.000000%2C%2064.000000)%22%0A%20%20%20%20%20%20%20fill%3D%22%234F00C5%22%0A%20%20%20%20%20%20%20stroke%3D%22%23979797%22%3E%0A%20%20%20%20%20%20%3Cpath%0A%20%20%20%20%20%20%20%20%20id%3D%22Rectangle%22%0A%20%20%20%20%20%20%20%20%20d%3D%22M%200.5%2C0.5%20V%20201.07812%20C%20137.48098%2C220.69299%20311.12957%2C230.5%20521.44531%2C230.5%20c%20210.14588%2C0%20518.05479%2C-12.93953%20918.68929%2C-32.52054%200%2C0%200.9363%2C-155.904657%200.6213%2C-197.16449937%20z%22%0A%20%20%20%20%20%20%20%20%20transform%3D%22translate(0%2C-64)%22%0A%20%20%20%20%20%20%20%20%20sodipodi%3Anodetypes%3D%22ccsccc%22%0A%20%20%20%20%20%20%20%20%20style%3D%22stroke%3Anone%22%20%2F%3E%0A%20%20%20%20%3C%2Fg%3E%0A%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E");
        background-color: $page-background!important;
        min-height: 231px;
        background-size: cover;
    
        //hide bootstrap animation for menu links
        &.navbar-light {
            .navbar-nav{
                .nav-link, a{
                    display: none;
                }
            }
        }

        .container {
            .hamburger-dropdown {
                z-index: 2;
                .open-btn {
                    .open-icon {
                        stroke: $secondary;
                        height: 40px;
                        width: 40px;
                        text-align: right;
                        margin-left: auto;
                        position: relative;
                    }
                    .close-icon {
                        display: none;
                    }
                }
                .close-btn {
                    z-index: 3 !important;
                    .open-icon {
                        path{
                            display: none;
                        }
                    }
                    .close-icon {
                        display: block;
                        height: 40px;
                        width: 40px;
                        z-index: 3;
                        position: fixed;
                        top: 90px;
                        right: 150px;
                        path{
                            stroke: $secondary;

                        }
                    }
                }
            }

            .collapse{
                flex-direction: column;
                background-color: $primary;
                width: 100vw;
                height: 100vh;
                position: fixed;
                left: 0;
                top: 0;
                z-index: 2;
                justify-content: center;
                .nav-link, a{
                    display: block;
                    text-decoration: none;
                    color: $secondary;
                    text-align: center;
                }
            }
        }
    }

    @media (min-width: 1400px) {
        .navbar {
            background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyB3aWR0aD0iMjQwMHB4IiBoZWlnaHQ9IjIzMXB4IiB2aWV3Qm94PSIwIDAgMjQwMCAyMzEiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8dGl0bGU+UmVjdGFuZ2xlPC90aXRsZT4KICAgIDxnIGlkPSJTeW1ib2xzIiBzdHJva2U9Im5vbmUiIHN0cm9rZS13aWR0aD0iMSIgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj4KICAgICAgICA8ZyBpZD0iRGVza3RvcC1IRCIgZmlsbD0iIzRGMDBDNSIgc3Ryb2tlPSIjOTc5Nzk3Ij4KICAgICAgICAgICAgPHBhdGggZD0iTTI0MDEuODI5MDIsMC41IEwzMjE0LjQ3MDEsMTc0Ljk2MDAxOSBDMjEzMi41MDIxNywyMTEuOTg2NTU3IDEzNTAuNzAzNzIsMjMwLjUgODY5LjA3NDc0NiwyMzAuNSBDNTE4LjM3Mzk4OSwyMzAuNSAyMjguODQxMDg2LDIyMC42ODQwNDMgMC40NzYwNzc2MDcsMjAxLjA1MTM1OSBMMC40NzYwNzc2MDcsMjAxLjA1MTM1OSBMMC41LDAuNSBMMjQwMS44MjkwMiwwLjUgWiIgaWQ9IlJlY3RhbmdsZSI+PC9wYXRoPgogICAgICAgIDwvZz4KICAgIDwvZz4KPC9zdmc+");
        }    
      }
>>>>>>> Stashed changes
